$searchbar-search-bg:           rgba(0,0,0,.7);         // This sets the color of the backdrop when search bar is visible
$searchbar-form-bg:             #fff;                   // This is the background of the form, holding the inputs and buttons
$searchbar-input-color:         #333;                   // Input color
$searchbar-buttons-color:       #ddd;                   // Buttons color
$searchbar-max-width:           1170px;                 // Width is responsive, this sets the max-width

.searchbar {
    display: none;
    background-color: $searchbar-search-bg;
}
.searchbar--visible {
    display:block;
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:9999
}
.searchbar__form {
    width:90%;
    max-width: $searchbar-max-width;
    height:60px;
    background: $searchbar-form-bg;
    margin: 30vh auto 0 auto;
    box-shadow: 0 2px 4px rgba(0,0,0,.5);

    /**
     * Set children items to be displayed in row and vertically aligned.
     */
    display: flex;
    flex-direction: row;
    align-items: center;
}
.searchbar__field {
    height:60px;
    font-size:20px;
    background:none;
    border:0;
    padding-left:15px;
    color: $searchbar-input-color;
    margin-right: auto;
    width: 100%;

    // Remove the clearing cross on IE
    &::-ms-clear {
        display: none;
    }

    &:focus {
        outline:0;
    }
}
.searchbar__addon {}
.searchbar__button {
    position:relative;
    height:42px;
    width:42px;
    padding:0;
    border:0;
    background:none;

    &:focus {
        outline:0;
    }

    .fa {
        font-size:18px;
        color: $searchbar-buttons-color;
    }

    &--last {
        border-left:1px solid $searchbar-buttons-color;
    }
}

@media screen and (min-width: 768px) {
    .searchbar__form {
        height: 96px;
    }
    .searchbar__field {
        padding-left:45px;
        height:96px;
        font-size:34px
    }
    .searchbar__button {
        height:56px;
        width:65px;

        .fa {
            font-size:30px;
        }

        &--last {
            border-width: 2px;
        }
    }
}
